<div class="pagecontent">

    <!-- FILE UPLOAD CARD -->
    <mat-card class="mb-1">
        <mat-card-content>

            <form [formGroup]="processMembersFormGroup" class="filter-row" (ngSubmit)="pcrFileSubmit()"
                enctype="multipart/form-data">

                <!-- <mat-label class="file-label">Select Member File</mat-label> -->

                <button mat-stroked-button color="primary" type="button" (click)="fileInput.click()">
                    <mat-icon>upload</mat-icon>
                    CHOOSE PCR DATA FILE
                </button>

                <div class="file-preview" *ngIf="selectedFile">
                    <mat-icon>attach_file</mat-icon>
                    <span [title]="selectedFile.name">
                        {{ selectedFile.name | slice:0:30 }}{{ selectedFile.name.length > 30 ? '…' : '' }}
                    </span>
                </div>

                <input #fileInput type="file" hidden (change)="onFileSelect($event)" />

                <mat-error *ngIf="processMembersFormGroup.get('file')?.touched &&
                 processMembersFormGroup.get('file')?.invalid">
                    File is required
                </mat-error>

                 <button mat-raised-button color="primary" type="submit"
                    [disabled]="isUpload || !processMembersFormGroup.valid">
                    @if (isUpload) {
                        <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                    } @else {
                        UPLOAD
                    }
                </button> 
            </form>

            <!-- SUMMARY -->
            <div *ngIf="totalRecords > 0" class="summary-row">
                <span>Total pcr data: <b>{{ totalRecords }}</b></span>

                <span *ngIf="error_count > 0">
                    Errors: <b>{{ error_count }}</b>
                </span>

                <span *ngIf="exist_count > 0">
                    Existing pcr data: <b>{{ exist_count }}</b>
                </span>
            </div>

            <!-- PROCESS BUTTON -->
            <div class="mt-1" *ngIf="totalRecords > 0">
                <button mat-raised-button color="primary" (click)="processPCRFile()" [disabled]="isProcessing">

                    @if (isProcessing) {
                    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                    } @else {
                    PROCESS
                    }

                </button>
            </div>

            <!-- SAMPLE FILE -->
            <div *ngIf="totalRecords === 0" class="sample-link">
                <a href="assets/sample_file/CIH_PCR_File.csv" target="_blank">
                    PCR Data Sample File
                </a>
            </div>

        </mat-card-content>
    </mat-card>

    <!-- TABLE CARD -->
    <mat-card>
        <mat-card-content>

            <!-- TOOLBAR -->
            <div class="table-toolbar" *ngIf="tempMemberList && tempMemberList.length > 0">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="filter($event)" placeholder="Search records">
                </mat-form-field>

                <mat-paginator #mainPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]">
                </mat-paginator>
            </div>

            <!-- LOADER -->
            <div class="table-loader" *ngIf="isLoading">
                <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
            </div>

            <!-- TABLE -->
            <div class="table-wrapper" *ngIf="!isLoading">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1"
                    *ngIf="tempMemberList && tempMemberList.length > 0">
                    <ng-container matColumnDef="MEMBERKEY" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMBER KEY </th>
                        <td mat-cell *matCellDef="let row">{{ row.MEMBERKEY }}</td>
                    </ng-container>

                    <ng-container matColumnDef="MEASURE_KEY">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MEASURE KEY</th>
                        <td mat-cell *matCellDef="let row">{{ row.MEASURE_KEY }}</td>
                    </ng-container>

                    <ng-container matColumnDef="SUBMEASURE_KEY">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBMEASURE</th>
                        <td mat-cell *matCellDef="let row">{{ row.SUBMEASURE_KEY }}</td>
                    </ng-container>

                    <ng-container matColumnDef="MEMBER_NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMBER NAME</th>
                        <td mat-cell *matCellDef="let row">{{ row.MEMBER_NAME }}</td>
                    </ng-container>

                    <ng-container matColumnDef="PCP_TIN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PCP TIN</th>
                        <td mat-cell *matCellDef="let row">{{ row.PCP_TIN }}</td>
                    </ng-container>

                    <ng-container matColumnDef="PCP_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PCP NAME</th>
                        <td mat-cell *matCellDef="let row">{{ row.PCP_Name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="DENOM">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DENOM</th>
                        <td mat-cell *matCellDef="let row">{{ row.DENOM }}</td>
                    </ng-container>

                    <ng-container matColumnDef="DISCH_ORDER">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DISCH ORDER</th>
                        <td mat-cell *matCellDef="let row">{{ row.DISCH_ORDER }}</td>
                    </ng-container>

                    <ng-container matColumnDef="INDEX_ADMIT_DT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ADMIT DT</th>
                        <td mat-cell *matCellDef="let row">{{ row.INDEX_ADMIT_DT }}</td>
                    </ng-container>

                    <ng-container matColumnDef="INDEX_DISCH_DT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DISCH DT</th>
                        <td mat-cell *matCellDef="let row">{{ row.INDEX_DISCH_DT }}</td>
                    </ng-container>

                    <ng-container matColumnDef="INDEX_STAY">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>INDEX STAY</th>
                        <td mat-cell *matCellDef="let row">{{ row.INDEX_STAY }}</td>
                    </ng-container>
                    <ng-container matColumnDef="NUMER">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>NUMER</th>
                        <td mat-cell *matCellDef="let row">{{ row.NUMER }}</td>
                    </ng-container>

                    <ng-container matColumnDef="READMISSION">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>READMISSION</th>
                        <td mat-cell *matCellDef="let row">{{ row.READMISSION }}</td>
                    </ng-container>

                    <ng-container matColumnDef="READMT_ADMIT_DT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>READMT ADMIT DT</th>
                        <td mat-cell *matCellDef="let row">{{ row.READMT_ADMIT_DT }}</td>
                    </ng-container>   
                    
                    <ng-container matColumnDef="READMT_DISCH_DT">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>READMT DISCH DT</th>
                        <td mat-cell *matCellDef="let row">{{ row.READMT_DISCH_DT }}</td>
                    </ng-container> 

                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>

                        <td mat-cell *matCellDef="let row" [ngStyle]="{
                  'background-color': row.pcr_exist ? 'yellow' :  (!row.member_exist) ? 'red' : 'transparent' }">
                            <ng-container *ngIf="row.pcr_exist">
                                Find duplicate record
                            </ng-container>

                            <ng-container *ngIf="!row.member_exist">
                                Member not exist
                            </ng-container>

                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <tr *matNoDataRow>
                        <td class="no-data" [attr.colspan]="displayedColumns.length">
                            No record found
                        </td>
                    </tr>
                </table>
                <div class="txupper" *ngIf="processLogList && processLogList.length > 0">
                    <h2 style="text-align: center;">PCR File Upload Process Details</h2>
                    <table style="width: 50%;margin-left: 30%;text-align: left;" class="mat-elevation-z1">
                        <thead class="table-light">
                            <tr>
                                <th>PROCESS MESSAGE</th>
                                <th>COUNT</th>
                                <th>DATE / TIME</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (log of processLogList; track log) {
                            <tr [ngStyle]="{ color: log.LOG_TYPE === 'Error' ? 'red' : 'inherit' }">
                                <td>{{ log.MESSAGE }}</td>
                                <td>{{ log.RECORD_COUNT || '' }}</td>
                                <td>{{ log.LOG_DATE | date: 'short' }}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>