<div class="pagecontent">
   
        <mat-card>
          <mat-card-content>
            <!-- Search box -->
            <div style="display:flex; justify-content:flex-end;"> 
               <div style="justify-content:left;margin-top: 20px;">
                <a style="cursor: pointer; text-decoration: underline;margin: 50px;" (click)="addUser();">+ ADD USER</a></div>  
              <div style="justify-content:left;">
                <mat-paginator style="background-color: #f4f3f3;" #mainPaginator [pageSizeOptions]="[10, 25, 50, 100]"
                  [pageSize]="10"></mat-paginator>
              </div>

              <mat-form-field appearance="outline" class="search-box">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search records">
              </mat-form-field>
            </div>
            <!-- Data Table -->
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort #mainSort="matSort" class="txupper">                 
                  
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
                </ng-container>
                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                  <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                  <td mat-cell *matCellDef="let row" class="txlink" >{{ row.email
                    }}</td>
                </ng-container>
                <ng-container matColumnDef="department" class="mt-2">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                  <td mat-cell *matCellDef="let row">{{ row.department }}</td>
                </ng-container>

                 <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ROLE</th>
                  <td mat-cell *matCellDef="let row">{{ row.role }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                  <td mat-cell *matCellDef="let row">{{ row.member_status }}</td>
                </ng-container>
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
                  <td mat-cell *matCellDef="let row">  <mat-icon class="txlink" (click)="editUser(row)" title="Edit" style="cursor: pointer;">edit</mat-icon> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
          </mat-card-content>
        </mat-card> 
</div>

<div class="loader-backdrop" *ngIf="isLoading">
  <mat-spinner diameter="60"></mat-spinner>
</div>