.action-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.action-select {
  width: 200px;
}
.dialog-body {
  padding-top: 10px;
}

.w-100 {
  width: 100%;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.dialog-title-center {
  text-align: center;
  text-transform: uppercase;
}
