<h2 mat-dialog-title class="txupper" style="text-align: center;">
  {{ data.title }}
</h2>

<mat-dialog-content>

  <!-- ADD TASK LINK -->
  <div class="text-end mb-3" style="text-align: right;">
    <a class="add-task-link" (click)="toggleAddTask()" style="cursor: pointer; text-decoration: underline;">+ ADD TASK</a>
  </div>

  <!-- ADD / EDIT TASK FORM -->
  <mat-card *ngIf="showAddTask" class="mb-3">
    <mat-card-content>

      <form [formGroup]="addTaskFormGroup" (ngSubmit)="submitTask()" class="txupper">

        <!-- TASK TYPE -->
        <mat-radio-group formControlName="task_next_panel_id" class="d-flex gap-3 flex-wrap">
          <mat-radio-button *ngFor="let t of action_ativity_type" [value]="t.id">
            {{ t.action_type }}
          </mat-radio-button>
        </mat-radio-group>

        <mat-error *ngIf="addTaskFormGroup.get('task_next_panel_id')?.touched &&
                          addTaskFormGroup.get('task_next_panel_id')?.invalid">
          Task type required
        </mat-error><br>

        <!-- DATE -->
        <mat-form-field appearance="outline" class="w-100 mt-2" style="margin-right: 5px;">
          <mat-label>Task Date</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="task_date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-error *ngIf="addTaskFormGroup.get('task_date')?.touched &&
                          addTaskFormGroup.get('task_date')?.invalid">
          Task date required
        </mat-error> 
        </mat-form-field>

        <!-- ASSIGN -->
        <mat-form-field appearance="outline" class="w-100 mt-3" style="margin-right: 5px;">
          <mat-label>Assign To</mat-label>
          <mat-select formControlName="task_assign_to">
            <mat-option *ngFor="let n of navigatorList" [value]="n.ID" class="txupper">
              {{ n.FistName }} {{ n.LastName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addTaskFormGroup.get('task_assign_to')?.touched &&
                          addTaskFormGroup.get('task_assign_to')?.invalid">
          Assign to required
        </mat-error> 
        </mat-form-field>

        <!-- STATUS -->
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <mat-label>Status</mat-label>
          <mat-select formControlName="task_status">
            <mat-option value="Open">OPEN</mat-option>
            <mat-option value="In-Process">IN-PROCESS</mat-option>
            <mat-option value="Successful">SUCCESSFUL</mat-option>
          </mat-select>
          <mat-error *ngIf="addTaskFormGroup.get('task_status')?.touched &&
                          addTaskFormGroup.get('task_status')?.invalid">
         Task status required
        </mat-error> 
        </mat-form-field><br>

        <!-- NOTE -->
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <mat-label>Comment</mat-label>
          <textarea matInput rows="2" cols="100%" formControlName="task_action_note"></textarea>
        </mat-form-field>

        <!-- BUTTON -->
        <div class="text-end mt-3">
          <button mat-raised-button color="primary"
                  type="submit"
                  [disabled]="isLoading">
            {{ isEditMode ? 'UPDATE' : 'SUBMIT' }}
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

  <!-- TASK LIST -->
  <table class="table table-striped txupper" style="width: 100%;text-align: left;margin-top: 10px;;">
    <thead>
      <tr>
        <th>Task</th>
        <th>Date</th>
        <th>Status</th>
        <th>Assign</th>
        <th>Note</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngIf="!data?.taskList || data.taskList.length === 0">
            <td colspan="6" style="text-align:center; padding:10px;">
                     No record found
            </td>
        </tr>
      <tr *ngFor="let t of data.taskList">
        <td>{{ t.action_type }}</td>
        <td>{{ t.task_date | date:'MM-dd-yyyy' }}</td>
        <td>{{ t.status }}</td>
        <td>{{ t.FistName }} {{ t.LastName }}</td>
        <td>{{ t.action_note }}</td>
        <td>
          <a (click)="editTask(t)" style="cursor: pointer;">
            <img src="assets/images/edit.png" width="18">
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-end mt-3" style="text-align: right;">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
</mat-dialog-content>

<div class="loader-backdrop" *ngIf="isLoading">
  <mat-spinner diameter="60"></mat-spinner>
</div>
