<div class="background-slider">
  @for (img of bgImages; track $index; let i = $index) {
    <img
      [src]="img"
      class="bg-image"
      [class.active]="i === currentIndex"
    />
  }
</div>

<div class="login-container">
  <mat-card class="login-card">

    <!-- 🔐 Logo -->
    <div class="logo-section" align="center">
      <img src="assets/images/CIH-logo.png" width="250" />
    </div>

    <!-- ⚠️ Error Message -->
   

    <!-- ℹ️ Info Message -->
    <div class="info-box">
      @if (errorMessage) {
        <mat-icon>error</mat-icon>
        {{ errorMessage }}
      } @else{
      <mat-icon color="warn">lock</mat-icon>
      <span>Please set a new password.</span>
      }
    </div>

    <!-- 🔁 Change Password Form -->
    <form (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
          minlength="8"
        />
       
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
      </mat-form-field>
<div class="password-policy">
  <div><mat-icon class="info-icon" style="margin-right: 5px;">info</mat-icon></div>
  <div>
    Password must be at least 15 characters and include uppercase, lowercase, number, and special character (e.g., ! @ # $ % ^ & *).
  </div>
</div>
      <div class="center-btn">
        <button
          mat-flat-button
          color="warn"
          [disabled]="isLoading || !newPassword || !confirmPassword">
          
          @if (!isLoading) {
            Update Password
          } @else {
            <mat-progress-spinner
              diameter="20"
              mode="indeterminate">
            </mat-progress-spinner>
          }
        </button>
      </div>

    </form>

  </mat-card>

  <!-- Footer -->
  <div class="footer">
    <img src="assets/images/logo.svg" width="60" />
    <div class="footer-text">
      <div class="title">Health Plan Prism</div>
      <div class="sub">A Karma Strategies Offering © {{currentYear}}.</div>
    </div>
  </div>
</div>
