<div class="background-slider">
  @for (img of bgImages; track $index; let i = $index) {
    <img
      [src]="img"
      class="bg-image"
      [class.active]="i === currentIndex"
    />
  }
</div>

<div class="login-container">

  <mat-card class="login-card">

    <!-- Logo -->
    <div class="logo-section" align="center">
      <img src="assets/images/CIH-logo.png" width="250" />
    </div>

    <!-- Error / Success Message -->
    @if (errorMessage) {
      <div class="mat-error-box">
        <mat-icon color="warn">error</mat-icon>
        {{ errorMessage }}
      </div>
    }
    @else if (successMessage) {
      <div class="mat-success-box">
        <mat-icon color="primary">check_circle</mat-icon>
        {{ successMessage }}
      </div>
    }

    <!-- ========================= -->
    <!-- NORMAL LOGIN FORM -->
    <!-- ========================= -->
    @if (!showQrScreen && !showOtpScreen) {

      <form (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            [(ngModel)]="username"
            name="username"
            required
            (input)="clearError()"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required
            (input)="clearError()"
          >
        </mat-form-field>

        <div class="center-btn">
          <button
            mat-flat-button
            color="primary"
            [disabled]="isLoading || !username || !password"
          >

            @if (!isLoading) {
              Login
            }
            @else {
              <mat-progress-spinner
                diameter="20"
                mode="indeterminate">
              </mat-progress-spinner>
            }

          </button>
        </div>

      </form>

    }

    <!-- ========================= -->
    <!-- FIRST TIME MFA SETUP -->
    <!-- QR CODE SCREEN -->
    <!-- ========================= -->
    @if (showQrScreen) {

      <div class="qr-section" align="center">

        <h3>Setup Authenticator</h3>

        <p>
            Scan this QR code using any Authenticator app
  (Google Authenticator, Microsoft Authenticator, Authy, etc.)
        </p>

        <!-- <qrcode
          [qrdata]="qrCodeData"
          [width]="200"
          [errorCorrectionLevel]="'M'">
        </qrcode> -->
        <!-- <qrcode
          *ngIf="qrCodeData"
          [qrdata]="qrCodeData"
          [width]="220"
          [errorCorrectionLevel]="'M'">
        </qrcode> -->
        <div *ngIf="qrCodeData">
          <qrcode
            [qrdata]="qrCodeData"
            [width]="220"
            [errorCorrectionLevel]="'M'">
          </qrcode>
        </div>
        <!-- <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter OTP</mat-label>
          <input
            matInput
            [(ngModel)]="otp"
            name="firstOtp"
          >
          
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="otp-field">
          <mat-label>Enter OTP</mat-label>

          <input
            matInput
            [(ngModel)]="otp"
            name="firstOtp"
            maxlength="6"
            inputmode="numeric"
            pattern="[0-9]*"
            class="otp-input"
            placeholder="------"
          >

        </mat-form-field>
        <div class="center-btn">
          <button
            mat-flat-button
            color="primary"
            (click)="verifyFirstOtp()" [disabled]="!otp">

            Verify & Continue

          </button>
        </div>

      </div>

    }

    <!-- ========================= -->
    <!-- NORMAL MFA LOGIN -->
    <!-- OTP SCREEN -->
    <!-- ========================= -->
    @if (showOtpScreen) {

      <div class="otp-section" align="center">

        <h3>MFA Verification</h3>

        <p>Enter code from your authenticator app</p>

        <!-- <mat-form-field appearance="outline" class="full-width">
          <mat-label>Authenticator Code</mat-label>
          <input
            matInput
            [(ngModel)]="otp"
            name="loginOtp"
            required
          >
        </mat-form-field> -->
        <mat-form-field appearance="outline" class="otp-field">
          <mat-label>Authenticator Code</mat-label>

          <input
            matInput
            [(ngModel)]="otp"
            name="loginOtp"
            maxlength="6"
            inputmode="numeric"
            pattern="[0-9]*"
            class="otp-input"
            placeholder="------"
          >

        </mat-form-field>

        <div class="center-btn">

          <button
            mat-flat-button
            color="primary"
            (click)="verifyLoginOtp()" [disabled]="!otp">

            Verify & Login

          </button>

        </div>

      </div>

    }

  </mat-card>

  <!-- Footer -->
  <div class="footer">
    <img src="assets/images/logo.svg" width="60" />

    <div class="footer-text">
      <div class="title">Health Plan Prism</div>
      <div class="sub">
        A Karma Strategies Offering © 2026.
      </div>
    </div>

  </div>

</div>