<div class="background-slider">
  @for (img of bgImages; track $index; let i = $index) {
  <img 
    [src]="img"
    class="bg-image"
    [class.active]="i === currentIndex"
  />
}

</div>

<div class="login-container">
  <mat-card class="login-card">

    <div class="logo-section" align="center">
      <img src="assets/images/CIH-logo.png" width="250" />
      <div class="env-text">DEVELOPMENT ENVIRONMENT</div>
    </div>
    @if (errorMessage) {
      <div class="mat-error-box">
        <mat-icon>error</mat-icon>
        {{ errorMessage }}
      </div>
    }

    <form (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>

          <div class="center-btn">
      <button mat-flat-button color="primary" [disabled]="isLoading || !username || !password">
        @if (!isLoading) {
          Login
        } @else {
          <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
        }
      </button>
    </div>
    </form>

    

  </mat-card>

  <div class="footer">
    <img src="assets/images/logo1.svg" width="60" />
    <div class="footer-text">
      <div class="title">Health Plan Prism</div>
      <div class="sub">A Karma Strategies Offering © 2025.</div>
    </div>
  </div>
</div>
