.close-button{
    float: right;
    top:-24px;
    right:-24px;
  }
  .mat-icon {
    vertical-align: middle;
 }
 ::ng-deep .error-dialog > mat-dialog-container {
  background-color: none;
  /* background-color: #cf421f; */
}
::ng-deep .warning-dialog > mat-dialog-container {
  background-color: #ff9d15;
  color: #000000;
  /* background-color: #cf421f; */
}
::ng-deep .info-dialog > mat-dialog-container {
  /* background-color: #333333; #cbcbcb*/
  color: #e6ffff;
  /* background-color: #cf421f; */
}
  pre {
    white-space: pre-line;
}