/* .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 20px;
  font-weight: 500;
}
.logout-btn {
  margin-left: auto;
  color : blue;
} */

.header-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 1000;
}

.logo-img {
  width: 40px;
  margin-left: 10px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar1 {
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 0 10px;
}

.divider-heading {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.badge-circle {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #0d6efd;
  color: #fff;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 10px;
}

.badge-success {
  background: #198754;
}

.message-item {
  display: flex;
  align-items: start;
  gap: 10px;
}

.message-item img {
  width: 35px;
  height: 35px;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.spacer {
  flex: 1 1 auto;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

