.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 16px;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 20px;
  font-weight: 500;
}
.logout-btn {
  margin-left: auto;
  color : blue;
}