<h2 mat-dialog-title class="dialog-title-center">{{ data.title }}</h2>

<mat-dialog-content>
  <mat-card>
    <mat-card-content>

      <form [formGroup]="assignPlanFormGroup" (ngSubmit)="assignPlan()"> 

        <!-- ASSIGN -->
        <mat-form-field appearance="outline" style="width: 70%;" >
          <mat-label>SELECT PLAN</mat-label>
          <mat-select formControlName="plan_id"  class="txupper">
            <mat-option *ngFor="let p of data.planList" [value]="p.id"  class="txupper">
              {{ p.plan_name }} ({{ p.start_date }} - {{ p.end_date }})
            </mat-option>
          </mat-select>

          <!-- REQUIRED -->
          <mat-error *ngIf="assignPlanFormGroup.get('plan_id')?.hasError('required')">
            Plan is required
          </mat-error>

          <!-- PLAN EXISTS -->
          <mat-error *ngIf="assignPlanFormGroup.get('plan_id')?.hasError('exists')">
            This plan is already assigned. Please choose another plan.
          </mat-error>
        </mat-form-field> 

        <!-- BUTTON -->
        <div class="text-end mt-3">
          <div class="left"><button mat-raised-button color="primary" type="submit" [disabled]="isLoading">SUBMIT </button></div>
          <div class="right"><button mat-raised-button color="primary" (click)="close()">Close</button></div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
   
</mat-dialog-content>

<div class="dialog-loader" *ngIf="isLoading">
  <mat-spinner diameter="40"></mat-spinner>
</div>

 