<div class="pagecontent">

  <!-- FILE UPLOAD CARD -->
  <mat-card class="mb-1">
    <mat-card-content>

      <form [formGroup]="processMembersFormGroup" class="filter-row" (ngSubmit)="riskGapsFileSubmit()"
        enctype="multipart/form-data">

        <!-- <mat-label class="file-label">Select Member File</mat-label> -->

        <button mat-stroked-button color="primary" type="button" (click)="fileInput.click()">
          <mat-icon>upload</mat-icon>
          CHOOSE RISK GAPS FILE
        </button>

        <div class="file-preview" *ngIf="selectedFile">
          <mat-icon>attach_file</mat-icon>
          <span [title]="selectedFile.name">
            {{ selectedFile.name | slice:0:30 }}{{ selectedFile.name.length > 30 ? '…' : '' }}
          </span>
        </div>

        <input #fileInput type="file" hidden (change)="onFileSelect($event)" />

        <mat-error *ngIf="processMembersFormGroup.get('file')?.touched &&
                 processMembersFormGroup.get('file')?.invalid">
          File is required
        </mat-error>

        <button mat-raised-button color="primary" type="submit"
          [disabled]="processMembersFormGroup.invalid || isLoading">

            @if (isUpload) {
             <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
          } @else {
            UPLOAD
          } 

        </button>

      </form>

      <!-- SUMMARY -->
      <div *ngIf="totalRecords > 0" class="summary-row">
        <span>Total  risk gaps: <b>{{ totalRecords }}</b></span>

        <span *ngIf="error_count > 0">
          Errors: <b>{{ error_count }}</b>
        </span>

        <span *ngIf="exist_count > 0">
          Existing risk gaps: <b>{{ exist_count }}</b>
        </span>
      </div>

      <!-- PROCESS BUTTON -->
      <div class="mt-1" *ngIf="totalRecords > 0">
        <button mat-raised-button color="primary" (click)="processRiskGaps()" [disabled]="isProcessing">

            @if (isProcessing) {
                <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
            } @else {
                PROCESS
            }
         
        </button>
      </div>

      <!-- SAMPLE FILE -->
      <div *ngIf="totalRecords === 0" class="sample-link">
        <a href="assets/sample_file/Riskgaps_sample_file.csv" target="_blank">
          Risk Gaps Sample File
        </a>
      </div>

    </mat-card-content>
  </mat-card>

  <!-- TABLE CARD -->
  <mat-card style="margin-top: 10px;">
    <mat-card-content>

      <!-- TOOLBAR -->
      <div class="table-toolbar">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="filter($event)" placeholder="Search records">
        </mat-form-field>

        <mat-paginator style="background-color: #f4f3f3;" #mainPaginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
      </div>

      <!-- LOADER -->
      <div class="table-loader" *ngIf="isLoading">
        <mat-progress-spinner diameter="50" mode="indeterminate"></mat-progress-spinner>
      </div>

      <!-- TABLE -->
      <div class="table-wrapper" *ngIf="!isLoading">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
          <ng-container matColumnDef="MBR_ID" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MBR ID </th>
            <td mat-cell *matCellDef="let row">{{ row.MBR_ID }}</td>
          </ng-container>

          <ng-container matColumnDef="PRODUCT_TYPE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCT TYPE</th>
            <td mat-cell *matCellDef="let row">{{ row.PRODUCT_TYPE }}</td>
          </ng-container>

          <ng-container matColumnDef="HCC_CATEGORY">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>HCC CATEGORY</th>
            <td mat-cell *matCellDef="let row">{{ row.HCC_CATEGORY }}</td>
          </ng-container>

          <ng-container matColumnDef="HCC_MODEL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>HCC MODEL</th>
            <td mat-cell *matCellDef="let row">{{ row.HCC_MODEL }}</td>
          </ng-container>

          <ng-container matColumnDef="STATUS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
            <td mat-cell *matCellDef="let row">{{ row.STATUS }}</td>
          </ng-container> 

          <ng-container matColumnDef="RELEVANT_DATE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RELEVANT DATE</th>
            <td mat-cell *matCellDef="let row">{{ row.RELEVANT_DATE | date:'MM/dd/yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="DIAG_SOURCE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DIAG SOURCE</th>
            <td mat-cell *matCellDef="let row">{{ row.DIAG_SOURCE }}</td>
          </ng-container>

          <ng-container matColumnDef="DIAG_CODE">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DIAG CODE</th>
            <td mat-cell *matCellDef="let row">{{ row.DIAG_CODE }}</td>
          </ng-container>

          <ng-container matColumnDef="DIAG_DESC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DIAG DESC</th>
            <td mat-cell *matCellDef="let row">{{ row.DIAG_DESC }}</td>
          </ng-container>

          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              RECORD STATUS
            </th>

            <td mat-cell *matCellDef="let row" [ngStyle]="{
                  'background-color':
                    (!row.MBR_ID || row.MBR_ID.trim() === '' || !row.member_exist) ? 'red' :
                    row.exist_gap ? 'yellow' : 'transparent'
                }">
              <ng-container *ngIf="row.exist_gap">
                Find duplicate risk gaps
              </ng-container>

              <ng-container *ngIf="!row.member_exist">
                Member not exist for this risk gap
              </ng-container>
               
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr *matNoDataRow>
            <td class="no-data" [attr.colspan]="displayedColumns.length">
              No record found
            </td>
          </tr>
        </table>
        <div class="txupper" *ngIf="processLogList && processLogList.length > 0"> 
        <h2 style="text-align: center;">Risk Gaps File Upload Process Details</h2>
          <table style="width: 50%;margin-left: 30%;text-align: left;" class="mat-elevation-z1" >
            <thead class="table-light">
              <tr>
                <th>PROCESS MESSAGE</th>
                <th>COUNT</th>
                <th>DATE / TIME</th>
              </tr>
            </thead>

            <tbody>
              @for (log of processLogList; track log) {
                <tr [ngStyle]="{ color: log.LOG_TYPE === 'Error' ? 'red' : 'inherit' }">
                  <td>{{ log.MESSAGE }}</td>
                  <td>{{ log.RECORD_COUNT || '' }}</td>
                  <td>{{ log.LOG_DATE | date: 'short' }}</td>
                </tr>
              }
            </tbody>
          </table>
          </div>


      </div>

    </mat-card-content>
  </mat-card>

</div>