.dialog-title-center {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: normal !important;   /* Removes bold */
}
.bot_12{
    display: flex;
    justify-content: space-between;
}
.error_message{
  margin-top:-18px!important;
  padding:0px 0px!important;
}