<h2 mat-dialog-title class="dialog-title-center">{{ data.title }}</h2>

<mat-dialog-content>
    <table style="width: 100%;">
        <tr>
            <td style="width: 35%; vertical-align: top;">
                <mat-card>
                    <mat-card-content>

                        <form [formGroup]="addAltphoneFormGroup" (ngSubmit)="submitAltphone()" class="txupper">

                            <mat-form-field appearance="outline" class="w-100 mt-2">
                                <input matInput type="text" formControlName="alt_phone_no"
                                    placeholder="ALTERNATE PHONE NO" maxlength="14" (input)="formatPhone($event)">
                            </mat-form-field>

                            <mat-error
                                *ngIf="addAltphoneFormGroup.get('alt_phone_no')?.touched && addAltphoneFormGroup.get('alt_phone_no')?.invalid">
                                Alternative phone no required
                            </mat-error>

                            <!-- BUTTON -->
                            <div class="text-end mt-3">
                                <div class="left"><button mat-raised-button color="primary" type="submit"
                                        [disabled]="isLoading">SUBMIT </button></div>
                                <div class="right"><button mat-raised-button color="primary"
                                        (click)="close()">Close</button></div>
                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>

            </td>
            <td style="width: 65%;">
                <!-- ALTERNATIVE PHONE LIST -->
                <table class="table table-striped txupper" style="width: 100%;text-align: left;">
                    <thead>
                        <tr>
                            <th>Alt Phone No</th>
                            <th>Added By (INITIAL)</th>
                            <th>Added Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let t of data.alt_phone">
                            <td>{{ t.alt_phone_no | phoneFormat }}</td>
                            <td>{{ t.FistName }} {{ t.LastName }}</td>
                            <td>{{ t.add_date}}</td>
                        </tr>
                        <tr *ngIf="!data.alt_phone?.length">
                            <td colspan="3" class="text-center text-muted">
                                No alternate phone found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</mat-dialog-content>



<div class="dialog-loader" *ngIf="isLoading">
    <mat-spinner diameter="40"></mat-spinner>
</div>