<div class="pagecontent">
   
        <mat-card>
          <mat-card-content>
            <!-- Search box -->
            <div class="table-toolbar">
 
              <div class="toolbar-left">
                <mat-paginator style="background-color: #f4f3f3;" #mainPaginator [pageSizeOptions]="[10, 25, 50, 100]"
                  [pageSize]="10"></mat-paginator>
                <a href="assets/sample_file/new-user-account-request-form.pdf" target="_blank" class="secondary-link">NEW USER ACCOUNT REQUEST</a>
                <a class="add-user-link" (click)="add();">+ CREATE NEW ACCOUNT</a>
 
              </div>

              

              <mat-form-field appearance="outline" class="search-box">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search records">
              </mat-form-field>
            </div>
            <!-- Data Table -->
 
            <div class="table-wrapper">
              <table mat-table [dataSource]="dataSource" matSort #mainSort="matSort" class="txupper">
                  
 
                <ng-container matColumnDef="FIRST_NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>FIRST NAME</th>
                  <td mat-cell *matCellDef="let row">{{ row.FIRST_NAME }}</td>
                </ng-container>
                <ng-container matColumnDef="LAST_NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>LAST NAME</th>
                  <td mat-cell *matCellDef="let row">{{ row.LAST_NAME }}</td>
                </ng-container>

                 <ng-container matColumnDef="ROLE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ROLE</th>
                  <td mat-cell *matCellDef="let row">{{ row.ROLE_NAME }}</td>
                </ng-container>

                <ng-container matColumnDef="PHONE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PHONE</th>
                  <td mat-cell *matCellDef="let row">{{ row.PHONE }}</td>
                </ng-container>

                <ng-container matColumnDef="EMAIL">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
                  <td mat-cell *matCellDef="let row">{{ row.EMAIL }}</td>
                </ng-container>

                <ng-container matColumnDef="DATE_OF_REQUEST">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE OF REQUEST</th>
                  <td mat-cell *matCellDef="let row">{{ row.DATE_OF_REQUEST }}</td>
                </ng-container>
                  <ng-container matColumnDef="STATUS">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
                  <td mat-cell *matCellDef="let row">
                    <span class="status-badge" [ngClass]="getRequestStatusClass(row)">{{ statusMap[row.STATUS] || 'UNKNOWN' }}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="FistName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDED BY</th>
                  <td mat-cell *matCellDef="let row">{{ row.FistName }}</td>
                </ng-container>

                <ng-container matColumnDef="ADDED_DATE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDED DATE</th>
                  <td mat-cell *matCellDef="let row">{{ row.ADDED_DATE }}</td>
                </ng-container>
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
                  <td mat-cell *matCellDef="let row">
                    <div class="icon-cell">
                      <mat-icon class="action-icon" (click)="attach(row,'user')" title="Attachments">attach_file</mat-icon>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr mat-row *matNoDataRow>
                <td [attr.colspan]="displayedColumns.length" class="no-record">
                    No record found
                </td>
                </tr>
              </table>
              <div class="loader-overlay" *ngIf="isLoading">
                <mat-spinner diameter="50"></mat-spinner>
            </div>

        </div>
        </mat-card-content>
    </mat-card>
</div>

