<div class="pagecontent">
  <mat-card>
    <mat-card-content>

      <div class="project-header">
        <!-- Left button -->
         <div>
          <a (click)="toggleDiv()">
         <div class="icon-text">
         <mat-icon style="font-size: 24px;">assignment</mat-icon>
          <span style="text-decoration: underline;cursor: pointer; font-size: 18px;" >PROJECT OVERVIEW</span>
          </div>
        </a>
        </div>
        

        <!-- Right button -->
         <div>
           <mat-form-field appearance="outline" class="navigator-select txupper" *ngIf="loginRoleId === 7" style="margin-top: 10px;margin-left:10px;">
          <mat-select placeholder="ALL NAVIGATORS" [value]="selectedNavigatorId"
            (selectionChange)="onNavigatorChange($event.value)">
            <mat-option [value]="0">ALL NAVIGATORS</mat-option>
            <mat-option *ngFor="let n of navigatorList" [value]="n.ID" class="txupper">
              {{ n.FistName }} {{ n.LastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
         </div>
        </div>


    </mat-card-content>
  </mat-card>


  <div *ngIf="isOpen" class="box" style="margin-top:2px; overflow:auto;">
   <table class="table">
    <tr>
      <td>
        <table class="static-table" style="width: 100%;">
            <thead>
              <tr>
                <th>RISK</th>
                <th>GAPS</th>
                <th>COMPLETED</th>
                <th>PERFORMANCE</th>              </tr>
            </thead>
            <tbody>
              <tr>
                <td>OVERALL (PRIORITY)</td>
                <td>{{ overallSummary?.priority_risk_count }}</td>
                <td>{{ overallSummary?.priority_risk_comp_count }}</td>
                <td>{{ overallSummary?.priority_risk_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr>
                <td>OVERALL (OTHERS)</td>
                <td>{{ overallSummary?.other_risk_count }}</td>
                <td>{{ overallSummary?.other_risk_comp_count }}</td>
                <td>{{ overallSummary?.other_risk_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>OVERALL (TOTAL)</td>
                <td>{{ overallSummary?.other_risk_count + overallSummary?.priority_risk_count}}</td>
                <td>{{ overallSummary?.other_risk_comp_count + overallSummary?.priority_risk_comp_count }}</td>
                <td>{{ ((overallSummary?.other_risk_comp_count + overallSummary?.priority_risk_comp_count)/(overallSummary?.other_risk_count + overallSummary?.priority_risk_count))*100 | number:'1.0-0' }}%</td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>MY OWN (PRIORITY)</td>
                <td>{{ ownSummary?.priority_risk_count }}</td>
                <td>{{ ownSummary?.priority_risk_comp_count }}</td>
                <td>{{ ownSummary?.priority_risk_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr>
                <td>MY OWN (OTHERS)</td>
                <td>{{ ownSummary?.other_risk_count }}</td>
                <td>{{ ownSummary?.other_risk_comp_count }}</td>
                <td>{{ ownSummary?.other_risk_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>MY OWN (TOTAL)</td>
                <td>{{ overallSummary?.priority_risk_count + overallSummary?.other_risk_count}}</td>
                <td>{{ overallSummary?.priority_risk_comp_count + overallSummary?.other_risk_comp_count }}</td>
                <td>{{ ((overallSummary?.priority_risk_comp_count + overallSummary?.other_risk_comp_count)/(overallSummary?.priority_risk_count + overallSummary?.other_risk_count))*100 | number:'1.0-0' }}%</td>
              </tr>              
            </tbody>
            </table>
      </td>

      <td>
        <table class="static-table" style="width: 100%;">
                    <thead>
              <tr>
                <th>QUALITY</th>
                <th>GAPS</th>
                <th>COMPLETED</th>
                <th>PERFORMANCE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>OVERALL (PRIORITY)</td>
                <td>{{ overallSummary?.priority_quality_count }}</td>
                <td>{{ overallSummary?.priority_quality_comp_count }}</td>
                <td>{{ overallSummary?.priority_quality_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr>
                <td>OVERALL (OTHERS)</td>
                <td>{{ overallSummary?.other_quality_count }}</td>
                <td>{{ overallSummary?.other_quality_comp_count }}</td>
                <td>{{ overallSummary?.other_quality_perf | number:'1.0-0' }}%</td>
              </tr>
               <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>OVERALL (TOTAL)</td>
                <td>{{ overallSummary?.priority_quality_count + overallSummary?.other_quality_count}}</td>
                <td>{{ overallSummary?.priority_quality_comp_count + overallSummary?.other_quality_comp_count }}</td>
                <td>{{ ((overallSummary?.priority_quality_comp_count + overallSummary?.other_quality_comp_count)/(overallSummary?.priority_quality_count + overallSummary?.other_quality_count))*100 | number:'1.0-0' }}%</td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>MY OWN (PRIORITY)</td>
                <td>{{ ownSummary?.priority_quality_count }}</td>
                <td>{{ ownSummary?.priority_quality_comp_count }}</td>
                <td>{{ ownSummary?.priority_quality_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr>
                <td>MY OWN (OTHERS)</td>
                <td>{{ ownSummary?.other_quality_count }}</td>
                <td>{{ ownSummary?.other_quality_comp_count }}</td>
                <td>{{ ownSummary?.other_quality_perf | number:'1.0-0' }}%</td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>MY OWN (TOTAL)</td>
                <td>{{ ownSummary?.priority_quality_count + ownSummary?.other_quality_count}}</td>
                <td>{{ ownSummary?.priority_quality_comp_count + ownSummary?.other_quality_comp_count }}</td>
                <td>{{ ((ownSummary?.priority_quality_comp_count + ownSummary?.other_quality_comp_count)/(ownSummary?.priority_quality_count + ownSummary?.other_quality_count))*100 | number:'1.0-0' }}%</td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="overflow: auto;">
          <table class="static-table" style="width: 100%;">
            <thead>
              <tr>
                <th>WORK OVERVIEW</th>
                <th *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    <span [title]="entry.value.provider_name" class="text-uppercase"> {{
                      entry.value.provider_name.slice(0, 5) }}.. </span>
                  </div>
                </th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CONTACTED (PRIORITY)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)"> {{ entry.value.call_count
                    }}/{{entry.value.priority_count }}
                    (<span [style.color]="entry.value.priority_color" style="padding: 0;">{{
                      entry.value.priority_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td> {{ totalArray.total_call_count }}/{{
                  totalArray.total_priority_count }}
                  (<span [style.color]="totalArray.priority_call_color" style="padding: 0;">{{
                    totalArray.priority_call_percentage |
                    number:'1.0-0' }}%</span>)
                </td>
              </tr>

              <tr>
                <td>CONTACTED (OTHERS)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.other_call_count }}/{{entry.value.other_count }}
                    (<span [style.color]="entry.value.other_call_color" style="padding: 0;">{{
                      entry.value.other_call_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>
                  {{ totalArray.total_other_call_count }}/{{ totalArray.total_other_count }}
                  (<span [style.color]="totalArray.other_call_color" style="padding: 0;">
                    {{ totalArray.other_call_percentage | number:'1.0-0' }}%</span>)
                </td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>RISK GAPS (PRIORITY)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.priority_complete_gaps_count }}/{{entry.value.priority_gaps_count }}
                    (<span [style.color]="entry.value.priority_gaps_color" style="padding: 0;">{{
                      entry.value.priority_gaps_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>
                  {{ totalArray.total_priority_complete_gaps_count }}/{{totalArray.total_priority_gaps_count }}
                  (<span [style.color]="totalArray.priority_gaps_color" style="padding: 0;">{{
                    totalArray.priority_gaps_percentage |
                    number:'1.0-0' }}%</span>)
                </td>
              </tr>
              <tr>
                <td>RISK GAPS (OTHERS)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.other_complete_gaps_count }}/{{entry.value.other_gaps_count }}
                    (<span [style.color]="entry.value.other_gaps_color" style="padding: 0;">{{
                      entry.value.other_gaps_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>
                  {{ totalArray.total_other_complete_gaps_count }}/{{
                  totalArray.total_other_gaps_count }}
                  (<span [style.color]="totalArray.other_gaps_color" style="padding: 0;">{{
                    totalArray.other_gaps_percentage
                    |
                    number:'1.0-0' }}%</span>)
                </td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>QUALITY GAPS (PRIORITY)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.priority_complete_quality_gaps_count }}/{{entry.value.priority_quality_gaps_count }}
                    (<span [style.color]="entry.value.priority_quality_gaps_color" style="padding: 0;">{{
                      entry.value.priority_quality_gaps_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>{{ totalArray.total_priority_complete_quality_gaps_count }}/{{
                  totalArray.total_priority_quality_gaps_count }}
                  (<span [style.color]="totalArray.priority_quality_gaps_color" style="padding: 0;">
                    {{ totalArray.priority_quality_gaps_percentage | number:'1.0-0'}}%</span>)
                </td>
              </tr>
              <tr>
                <td>QUALITY GAPS (OTHERS)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.other_complete_quality_gaps_count }}/{{entry.value.other_quality_gaps_count }}
                    (<span [style.color]="entry.value.other_quality_gaps_color" style="padding: 0;">{{
                      entry.value.other_quality_gaps_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>{{ totalArray.total_other_complete_quality_gaps_count }}/{{
                  totalArray.total_other_quality_gaps_count }}
                  (<span [style.color]="totalArray.other_quality_gaps_color" style="padding: 0;">{{
                    totalArray.other_quality_gaps_percentage |
                    number:'1.0-0'}}%</span>)
                </td>
              </tr>
              <tr style="border: 2px solid #000;"></tr>
              <tr>
                <td>PCP VISIT (PRIORITY)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.priority_pcp_visit_count }}/{{entry.value.priority_count }}
                    (<span [style.color]="entry.value.priority_pcp_visit_color" style="padding: 0;">{{
                      entry.value.priority_pcp_visit_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>
                  {{ totalArray.total_priority_count_pcp ?? 0 }}/{{ totalArray.total_priority_count }}
                  (<span [style.color]="totalArray.priority_pcp_color" style="padding: 0;">{{
                    totalArray.priority_pcp_percentage |
                    number:'1.0-0' }}%</span>)
                </td>
              </tr>
              <tr>
                <td>PCP VISIT (OTHERS)</td>
                <td *ngFor="let item of performanceArray">
                  <div *ngFor="let entry of (item | keyvalue)">
                    {{ entry.value.other_pcp_visit_count }}/{{entry.value.other_count }}
                    (<span [style.color]="entry.value.other_pcp_visit_color" style="padding: 0;">{{
                      entry.value.other_pcp_visit_percentage |
                      number:'1.0-0'}}%</span>)
                  </div>
                </td>
                <td>
                  {{ totalArray.total_other_count_pcp ?? 0 }}/{{ totalArray.total_other_count }}
                  (<span [style.color]="totalArray.other_pcp_color" style="padding: 0;">{{
                    totalArray.other_pcp_percentage |
                    number:'1.0-0' }}%</span>)
                </td>
              </tr>
              <tr style="height: 40px;">
                <td colspan="6"> </td>
              </tr>

            </tbody>
          </table>
        </div>
        
      </td>
    </tr>
   </table>
  </div>

  <mat-tab-group class="custom-tabs" mat-stretch-tabs>
    <mat-tab label="MEMBERS">
      <div class="tab-content">
        <mat-card>
          <mat-card-content>
            <!-- Search box -->
            <div style="display:flex; justify-content:flex-end;flex-wrap: wrap;">
              <!-- ACTION BAR -->
              <div class="action-bar">
                <mat-form-field appearance="outline" class="action-select">
                  <mat-select placeholder="ACTION" [(value)]="selectedAction" [disabled]="selection.isEmpty()"
                    (selectionChange)="onActionChange($event)">

                    <mat-option value="transfer">TRANSFER</mat-option>
                    <mat-option value="assign">ASSIGN PLAN</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>

              <div style="justify-content:left;">
                <mat-paginator style="background-color: #f4f3f3;" #mainPaginator [pageSizeOptions]="[10, 25, 50, 100]"
                  [pageSize]="10"></mat-paginator>
              </div>

              <mat-form-field appearance="outline" class="search-box">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search records">
              </mat-form-field>
            </div>
            <!-- Data Table -->
            <div class="mat-elevation-z8" style="overflow:auto;">
              <table mat-table [dataSource]="dataSource" matSort #mainSort="matSort" class="w-100 text-uppercase">
                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"></mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">

                    <div style="display: flex;align-items:center;">
                      
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
                          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
                      
                      
                  
                        <mat-icon class="txlink"  (click)="openAddActionDialog(row.MEM_NO, row.FIRST_NAME + ' ' + row.LAST_NAME,row.BIRTH,row.latest_alt_address || row.OTHER_ADDR1,row.latest_alt_phone || row.OTHER_PHONE,providerTinNameMapping[row.PCP_TAX_ID],row.PCP_TAX_ID)" style="text-decoration:none;">
                         
                          <div style="margin-left: 2px;">add</div>
                        </mat-icon>
                       
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="MEM_INFO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#MEM ID / NAME / DOB</th>
                  <td mat-cell *matCellDef="let row">
                    <div>{{ row.MEM_NO }}</div>
                    <div  class="alignment">
                    <mat-icon>accessibility</mat-icon>
                    <strong style="cursor: pointer;" title="Click to copy" (click)="copyToClipboard(row.FIRST_NAME + ' ' + row.LAST_NAME)">{{ row.FIRST_NAME }} {{
                      row.LAST_NAME }}</strong>
                      </div>

                     <div  class="alignment">
                      <mat-icon>date_range</mat-icon>
                      <span title="Click to copy"
                        (click)="copyToClipboard(row.BIRTH)">{{ row.BIRTH }}</span>
                     </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="PHONE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDRESS/PHONE</th>
                  <td mat-cell *matCellDef="let row">
                    <div style="height:20px;">&nbsp;</div>
                    <div  class="alignment">
                    <mat-icon>home</mat-icon>
                    
                    <span class="pointer address-text" style="color:blue;" title="Click to copy"
                      (click)="copyToClipboard(row.latest_alt_address || row.OTHER_ADDR1)"
                      [matMenuTriggerFor]="editMenu">
                      {{ row.latest_alt_address || row.OTHER_ADDR1 }}</span>
                         </div>
                    <mat-menu #editMenu="matMenu" xPosition="after" osition="center">
                      <button mat-menu-item (click)="addalterAddr(row)">
                        ✏️ Edit
                      </button>
                    </mat-menu>
                      <div  class="alignment">
                   <mat-icon> phone</mat-icon>
                    <span class="pointer address-text" style="color:blue;" title="Click to copy"
                      (click)="copyToClipboard(row.latest_alt_phone || row.OTHER_PHONE);"
                      [matMenuTriggerFor]="editMenu1">{{ row.latest_alt_phone || row.OTHER_PHONE | phoneFormat }}</span>
                      </div>

                    <mat-menu #editMenu1="matMenu" xPosition="after" position="center">
                      <button mat-menu-item (click)="addalternativePhone(row)">
                        ✏️ Edit
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <ng-container matColumnDef="PCP_TAX_ID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PRACTICE</th>
                  <td mat-cell *matCellDef="let row">{{ providerTinNameMapping[row.PCP_TAX_ID]?.slice(0, 15) }}..</td>
                </ng-container>
                <ng-container matColumnDef="PCP_VISIT_FLAG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PCP VISIT</th>
                  <td mat-cell *matCellDef="let row" class="pcp-cell">
                  <div class="dot-wrapper">

                    <div class="dot-row">
                      <span class="dot" [ngClass]="row.PCP_VISIT_FLAG == 1 ? 'green' : 'red'"></span>
                      <span class="date-text">
                        {{ row.PCP_VISIT_DATE ? (row.PCP_VISIT_DATE | date:'MM/dd/yy') : '' }}
                      </span>
                    </div>

                   <div class="dot-row">
                      <span class="dot" [ngClass]="row.PCP_VISIT_PRE_FLAG == 1 ? 'green' : 'red'"></span>
                      <span class="date-text"> 
                        {{ row.PCP_VISIT_PRE_DATE ? (row.PCP_VISIT_PRE_DATE | date:'MM/dd/yy') : '' }}                        
                      </span>
                    </div>

                  </div>
                </td>

                </ng-container>
                <ng-container matColumnDef="PRIORITY_FLAG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>PRIORITY</th>
                  <td mat-cell *matCellDef="let row" >{{ row.PRIORITY_FLAG || '' }}</td>
                </ng-container>
                <ng-container matColumnDef="upcoming_task_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header >TASK</th>
                  <td mat-cell *matCellDef="let row" class="txlink" (click)="showTasklist(row)" style="color:blue;">
                    {{ row.upcoming_task_date === '01/01/1900' ? 'N/A' : (row.upcoming_task_date || 'N/A') }}</td>
                </ng-container>
                <ng-container matColumnDef="Call_count">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>CALL</th>
                  <td mat-cell *matCellDef="let row" class="txlink txcenter" style="color:blue;" (click)="showCallList(row)" >{{ row.Call_count }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="risk_gap_count">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>RISK COUNT</th>
                  <td mat-cell *matCellDef="let row" class="txlink txcenter" (click)="showRiskgaps(row)" style="color:blue;">{{ row.risk_gap_count }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="risk_comp_count">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPLETED</th>
                  <td mat-cell *matCellDef="let row" class="txcenter">{{ row.risk_comp_count }}</td>
                </ng-container>
                <ng-container matColumnDef="risk_perf">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>%</th>
                  <td mat-cell *matCellDef="let row">{{ row.risk_perf | number:'1.0-0' }}%</td>
                </ng-container>
                <ng-container matColumnDef="quality_count">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>QUALITY COUNT</th>
                  <td mat-cell *matCellDef="let row" class="txlink txcenter" (click)="showQualitygaps(row)" style="color:blue;">{{ row.quality_count
                    }}</td>
                </ng-container>
                <ng-container matColumnDef="quality_comp_count">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>COMPLETED</th>
                  <td mat-cell *matCellDef="let row" class="txcenter">{{ row.quality_comp_count }}</td>
                </ng-container>
                <ng-container matColumnDef="quality_perf">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>%</th>
                  <td mat-cell *matCellDef="let row">{{ row.quality_perf | number:'1.0-0' }}%</td>
                </ng-container>
                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
                  <td mat-cell *matCellDef="let row">
                    <div  class="icon-cell">
                    <a (click)="showBenefits(row)" style="cursor: pointer;">
                      <mat-icon color="warn" style="margin-top: 10px;">picture_as_pdf</mat-icon>
                    </a>
                    <mat-icon class="txlink" title="No Longer Patient" style="color:red; text-decoration: none;"
                      (click)="confirmAction(row)">close</mat-icon>
                    </div>
                     
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="TRANSFER">
      
      <div class="tab-content">
        <mat-card>
          <mat-card-content>
        
        <div style="display:flex; justify-content:flex-end;align-items: center;">
          <mat-paginator #transferPaginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
          <mat-form-field appearance="outline" class="search-box">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFiltertransfer($event)" placeholder="Search">
          </mat-form-field>
        
        </div>

        <mat-table [dataSource]="transferdataSource" matSort #transferSort="matSort" class="txupper">

          <ng-container matColumnDef="medicaid_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> #MEMBER ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.medicaid_id}} </mat-cell>
          </ng-container>

           <ng-container matColumnDef="memberName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MEMBER NAME </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.memberName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="BIRTH">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DATE OF BIRTH </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.BIRTH}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PHONE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone | phoneFormat}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="refer_by_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TRANSFERRED BY </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.refer_by_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="refer_to_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TRANSFERRED TO </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.refer_to_name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="added_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TRANSFER DATE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.added_date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="referring_reason">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TRANSFER REASON </mat-header-cell>
            <mat-cell *matCellDef="let row" style="width: 400px !important;"> {{row.referring_reason}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsTransfer"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsTransfer"></mat-row>
        </mat-table>
</mat-card-content>
        </mat-card>
      
      </div>
    </mat-tab>

    <mat-tab label="NO LONGER PATIENT">
      <div class="tab-content">
         <mat-card>
          <mat-card-content>
        <div style="display:flex; justify-content:flex-end;">
          <mat-paginator #nolongerpatientPaginator [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
          <mat-form-field appearance="outline" class="search-box">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilternopatient($event)" placeholder="Search">
          </mat-form-field>
        </div>

        <mat-table [dataSource]="nolongerpatientdataSource" matSort #nolongerpatientSort="matSort" class="txupper">

          <ng-container matColumnDef="medicaid_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> #MEMBER ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.medicaid_id}} </mat-cell>
          </ng-container>

           <ng-container matColumnDef="memberName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> MEMBER NAME </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.memberName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="BIRTH">
            <mat-header-cell *matHeaderCellDef mat-sort-header>DATE OF BIRTH </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.BIRTH}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PHONE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.phone | phoneFormat}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="NO_LONGER_PATIENT_DATE">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ACTION DATE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.NO_LONGER_PATIENT_DATE}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="NO_LONGER_PATIENT_NOTE">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOTE </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.NO_LONGER_PATIENT_NOTE}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>
            <mat-cell *matCellDef="let row" ><mat-icon (click)="confirmboxUndo(row)" title="Undo" style="cursor: pointer;">undo</mat-icon> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsNolongerpatient"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsNolongerpatient"></mat-row>
        </mat-table>
</mat-card-content>
        </mat-card>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="loader-backdrop" *ngIf="isLoading">
  <mat-spinner diameter="60"></mat-spinner>
</div>