
table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
} 

 
.search-box {
  width: 200px;  
} 

.search-box input { 
  height: 20px;
} 

.custom-tabs ::ng-deep .mat-tab-label {
  font-weight: bold;
  text-transform: uppercase;
}

.tab-content {
  padding: 15px;
}

.action-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.bg-header {
  background-color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.navigator-select {
  width: 250px;
}

.red {
    border-radius: 50%;
    background-color: #dc3545;
    width: 14px;
    height: 14px;
}

.green {
    border-radius: 50%;
    background-color:green;
    width: 14px;
    height: 14px;
}

.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0px !important;
}

.static-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.static-table th, 
.static-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.static-table thead {
  background-color: #60a2a2;
  color: white;
}

.static-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.activity-row {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.activity-date {
  width: 30%;
  font-weight: 500;
}

.activity-dot {
  margin-right: 16px;
  font-size: 12px;
}

.activity-text {
  width: 60%;
  font-size: 14px;
}

.half-screen {
  width: 50%;
}

.custom-tabs .mat-tab-label {
  flex: 1; /* default equal width tabs */
}

/* LAST TAB override → shrink width */
.custom-tabs .mat-tab-label:last-child {
  flex: 0 0 auto !important;
  width: 70px !important;      /* adjust width as needed */
  padding: 0 !important;
}

/* Make the form-field fit nicely */
.custom-tabs .mat-tab-label:last-child .mat-form-field {
  width: 60%;
  margin: 0;
}

.txlink{
  cursor: pointer;
  text-decoration: underline;
}

::ng-deep .xl-dialog .mat-dialog-container {
  width: 100% !important;
  max-width: 900px !important;
  margin: auto !important;
  border-radius: 14px;
  padding: 24px;
}











