<!-- sidebar.component.html -->
<div class="sidenav-header d-flex justify-content-between align-items-center" >
  <img src="assets/images/left-logo.svg" class="logo" />
</div>

<mat-nav-list>

  <a mat-list-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    DASHBOARD
  </a>

  @if (userRole == 7 || userRole == 20) {
    <a mat-list-item disabled>STAR PERFORMANCE</a>
    <a mat-list-item disabled>RISK GAPS REPORT</a>
    <a mat-list-item disabled>MEMBER RISK PROFILE</a>
    <a mat-list-item disabled>ACTION LOG REPORT</a>
    <a mat-list-item disabled>USERS MANAGE</a>
    <a mat-list-item disabled>PLANS MANAGE</a>
  }

  @if (userRole == 7) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>PROCESS FILE</mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item disabled>PROCESS MEMBER FILE</a>
      <a mat-list-item disabled>PROCESS RISK GAPS FILE</a>
      <a mat-list-item disabled>PROCESS QUALITY GAPS FILE</a>
      <a mat-list-item disabled>PROCESS FILE LOG REPORT</a>
    </mat-expansion-panel>
  }

</mat-nav-list>
