<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer mode="over" class="app-sidenav" style="background-color:darkcyan;">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header [drawer]="drawer"></app-header>

    <!-- Page Content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <app-footer style="margin-bottom: 10px;"></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
