<h2 mat-dialog-title class="txupper" style="text-align:center">
  {{ data.title }}
</h2>

<mat-dialog-content style="max-height: 350px;">
  <mat-card>
    <mat-card-content>

      <form [formGroup]="addUserFormGroup" (ngSubmit)="submitUser()">

        <!-- FIRST NAME -->
        <mat-form-field appearance="outline" class="mr common-field">
          <mat-label>FIRST NAME</mat-label>
          <input matInput formControlName="firstName">

          <mat-error *ngIf="
            addUserFormGroup.get('firstName')?.touched &&
            addUserFormGroup.get('firstName')?.invalid">
            First name is required
          </mat-error>
        </mat-form-field>

        <!-- LAST NAME -->
        <mat-form-field appearance="outline" class="mr common-field">
          <mat-label>LAST NAME</mat-label>
          <input matInput formControlName="lastName">

          <mat-error *ngIf="
            addUserFormGroup.get('lastName')?.touched &&
            addUserFormGroup.get('lastName')?.invalid">
            Last name is required
          </mat-error>
        </mat-form-field>

        <!-- ROLE -->
        <mat-form-field appearance="outline" class="mr common-field">
          <mat-label>ROLE</mat-label>
          <mat-select formControlName="role" class="txupper">
            <mat-option class="txupper" *ngFor="let r of data.roles" [value]="r.ID">
              {{ r.ROLE_NAME }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="
            addUserFormGroup.get('role')?.touched &&
            addUserFormGroup.get('role')?.invalid">
            Role is required
          </mat-error>
        </mat-form-field> 
        <!-- EMAIL -->
        <mat-form-field appearance="outline" class="mr email-field mt-5">
          <mat-label>EMAIL</mat-label>
          <input matInput type="email" formControlName="email" [readonly]="isEditMode" autocomplete="new-email">
          <mat-hint *ngIf="isEditMode">Email cannot be changed</mat-hint>
          <mat-error *ngIf="
            addUserFormGroup.get('email')?.touched &&
            addUserFormGroup.get('email')?.hasError('exists')">
            Email already exists
            </mat-error>

          <mat-error *ngIf="
            addUserFormGroup.get('email')?.touched &&
            addUserFormGroup.get('email')?.hasError('required')">
            Email is required
          </mat-error>

          <mat-error *ngIf="
            addUserFormGroup.get('email')?.touched &&
            addUserFormGroup.get('email')?.hasError('email')">
            Enter a valid email address
          </mat-error>
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field appearance="outline" class="mr common-field">
          <mat-label>PASSWORD</mat-label>

          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password" autocomplete="new-password"
          >

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword">
            <mat-icon>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>

          <mat-error *ngIf="
            addUserFormGroup.get('password')?.touched &&
            addUserFormGroup.get('password')?.hasError('required')">
            Password is required
          </mat-error>

          <mat-error *ngIf="
            addUserFormGroup.get('password')?.touched &&
            addUserFormGroup.get('password')?.hasError('minlength')">
            Minimum 6 characters required
          </mat-error>
        </mat-form-field>

        <!-- DEPARTMENT -->
        <mat-form-field appearance="outline" class="mr common-field mt-5" >
          <mat-label>DEPARTMENT</mat-label>
          <mat-select formControlName="department" class="txupper">
            <mat-option class="txupper" *ngFor="let d of data.departments" [value]="d.id">
              {{ d.department }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="
            addUserFormGroup.get('department')?.touched &&
            addUserFormGroup.get('department')?.invalid">
            Department is required
          </mat-error>
        </mat-form-field>        

        <!-- STATUS -->
        <mat-form-field appearance="outline" class="common-field">
        <mat-label>STATUS</mat-label>
        <mat-select formControlName="status">
            <mat-option [value]="0">ACTIVE</mat-option>
            <mat-option [value]="1">IN-ACTIVE</mat-option>
        </mat-select>
        </mat-form-field>

        <!-- ACTION BUTTONS -->
        <div class="mt-3" style="display:flex;justify-content:space-between">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="addUserFormGroup.invalid || isLoading">
            {{ isEditMode ? 'UPDATE' : 'SUBMIT' }}
          </button>

          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="close()">
            CANCEL
          </button>
        </div>

      </form>
      <div class="loader-backdrop" *ngIf="isLoading">
        <mat-spinner diameter="60"></mat-spinner>
      </div>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>


