.email-field {
  width: 64.5%;
}


.common-field {
  width: 32%;
}

.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;     /* vertical center */
  justify-content: center; /* horizontal center */

  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}

.mt-5{
  margin-top: 5px;
}