<h2 mat-dialog-title class="dialog-title-center">
  {{ data.title }}
</h2>

<mat-dialog-content  style="max-height: 500px;">

  <div class="dialog-layout">

    <!-- LEFT: ADD ALTERNATE ADDRESS FORM -->
    <mat-card class="left-card">
      <mat-card-content>

        <form
          [formGroup]="addAltaddressFormGroup"
          (ngSubmit)="submitAltAddress()"
          class="txupper"
        >

          <!-- ADDRESS -->
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="alt_address"
              placeholder="ALTERNATE ADDRESS"
            />
            <mat-error *ngIf="addAltaddressFormGroup.get('alt_address')?.touched">
              Alt address required
            </mat-error>
          </mat-form-field>

          <!-- CITY -->
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="alt_city"
              placeholder="ALTERNATE CITY"
            />
            <mat-error *ngIf="addAltaddressFormGroup.get('alt_city')?.touched">
              Alt city required
            </mat-error>
          </mat-form-field>

          <!-- STATE -->
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="alt_state"
              placeholder="ALTERNATE STATE"
            />
            <mat-error *ngIf="addAltaddressFormGroup.get('alt_state')?.touched">
              Alt state required
            </mat-error>
          </mat-form-field>

          <!-- ZIP -->
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="alt_zip"
              placeholder="ALTERNATE ZIP"
              maxlength="10"
              (input)="formatZip($event)"
            />
            <mat-error *ngIf="addAltaddressFormGroup.get('alt_zip')?.touched">
              Alt zip required
            </mat-error>
          </mat-form-field>

          <!-- DATE -->
          <mat-form-field appearance="outline" style="width: 84%;">
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="dp"
              formControlName="add_date"
            />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>

          <!-- BUTTON -->
          <div class="text-end">
            <div class="left"><button mat-raised-button color="primary" type="submit" [disabled]="isLoading">SUBMIT </button></div>
            <div class="right"><button mat-raised-button color="primary" (click)="close()">Close</button></div>
          </div>

        </form>

      </mat-card-content>
    </mat-card>

    <!-- RIGHT: ALTERNATE ADDRESS LIST -->
    <div class="right-table">

      <table class="table table-striped txupper" style="width: 100%;text-align: left;">
        <thead>
          <tr>
            <th>ADDRESS</th>
            <th>ADDED DATE</th>
            <th>ADDED BY</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let alter of data.alt_address">
            <td>
              <span *ngIf="alter.alt_address">{{ alter.alt_address }}</span>
              <span *ngIf="alter.alt_city">, {{ alter.alt_city }}</span>
              <span *ngIf="alter.alt_state">, {{ alter.alt_state }}</span>
              <span *ngIf="alter.alt_zip">, {{ alter.alt_zip }}</span>
            </td>
            <td>{{ alter.add_date }}</td>
            <td>{{ alter.initial }}</td>
          </tr>

          <tr *ngIf="!data.alt_address?.length">
            <td colspan="3" class="text-center text-muted">
              No alternate address found.
            </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>

</mat-dialog-content>



<div class="dialog-loader" *ngIf="isLoading">
  <mat-spinner diameter="40"></mat-spinner>
</div>
